
<div id="buttons">
                    
    <div class="outer">
        <form action="/coffee/coffee-order/" method="post">
			{% csrf_token %}
		    <input type="submit" class="button" style="width:96%" value="COFFEE" />
		</form>
    </div>
    
    <div class="outer">
        <form action="/coffee/no-sale/" method="post">
			{% csrf_token %}
		    <input type="submit" class="button" style="width:96%" value="NO SALE" />
		</form>
    </div>
            
    <div class="outer">
        <div id="nine" class="button">9</div>
    </div>

    <div class="outer">
        <div id="four" class="button">4</div>
    </div>
        
    <div class="outer">
        <div id="five" class="button">5</div>
    </div>
                            
    <div class="outer">
        <div id="six" class="button">6</div>
    </div>
         
    <div class="outer">
        <div id="one" class="button">1</div>
    </div>
    
    <div class="outer">
        <div id="two" class="button">2</div>
    </div>

    <div class="outer">
        <div id="three" class="button">3</div>
    </div>
 </div>
